<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
    <style type="text/css">
        .title{
            text-align:center;
            font-family:arial;
        }
    </style>
    <script>
        function validateForm() {
            console.log("form");    
            var x = document.forms["zipform"]["zipcode"].value;
            var y = document.forms["zipform"]["max_dist"].value;
            if (x == "" || isNaN(x) || y=="" || isNaN(y)) {
                alert("Zipcode or Distance invalid");
                return false;
            }
        }
    </script>
</head>
<% include components/header %>
<body  style= "background-color:white;background-image:url(/pawprints.jpg);">
    <form name="zipform" action="/nearbyzipcodes" onsubmit="return validateForm()"  method="get">
        Zipcode: <input type='text' name='zipcode' placeholder='Enter Zipcode Here'/> </br>
        Maximum Distance: <input type='text' name='max_dist' placeholder='Maximum Distance (in miles) here'/>
        <input type='submit' value='Submit'/>  
    </form>    
</body>
<% include components/footer %>

</html>
