<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
    </head>
    <% include components/header.ejs %>
    <body  style= "background-color:white;background-image:url(/pawprints.jpg);">
    <h1 align="center">User Profile: <%= loggedInUser %></h1>
    <div>
        <h1 align="center">Saved Dogs</h1>
        <table align ="center">
            <% if (!savedDogIds) { %>
            <h3 align="center"> No dogs saved currently! </h3>
            <% } else { %>
            <% savedDogIds.forEach((dogId) => { %>
            <tr align="center">
                <td>
                    <a href="/dogprofiles/<%=dogId%>"><%=dogId%></a>

                </td>
            </tr>
            <% }) %>
            <% } %>
        </table>
    </div>
    </div>

    </body>
    <% include components/footer.ejs %>
</html>
